@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
	margin:0;
	padding: 0;
}

html,body{
	font-family: 'Open Sans Condensed', sans-serif;
	width: 100%;
	height: 100%;
}
div.limitador{
	width: 100%;
	height: 1200px;
	min-height: 90%;
	
}


section{

	width: cover;
	height:600px;
	
}

section h2{
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
}


footer{
	clear:both;
	bottom:calc('.limitador' + 10px);
	position:relative;
	width: 100%;
	height: 50px;
	background-color: darkgray;
	text-align: center;
}

@media(max-width:680px){
	footer{
		clear:both;
		bottom:calc('.limitador' + 10pt);
		position:relative;
		width: 100%;
		height: 50px;
		background-color: darkgray;
		text-align: center;
}

}