@charset "utf-8";
div.limitador-player{
	width: cover;
	height: 600px;
	
	background-color: rgb(90, 87, 245);
	margin-left: auto;
	margin-right: auto;
}

#tela{
	float: right;
	width: 50%;
	margin:20px 50px 10px 10px;
	margin:10px;


}

#listaTreinamentos{
	width:40%;
	margin:20px 20px 10px 50px;

	float: left;
	padding: auto;
	 
}
#listaTreinamentos h6 {
	margin: 8px;
	padding: 5px;
	font-size: 13px;
	
}

a {
	text-decoration: none;
	color:white;
}

.myVideo {
	background-color: #000000;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
	

.active {
    display: inline-block;
}

.hide {
    display: none;
}

@media (max-width:680px){
	
	div.limitador-player{
		width: cover;
		height: auto;
		background-color: rgb(90, 87, 245);
		margin-left: auto;
		margin-right: auto;
	}

	#tela{
		
		width: 90%;
		margin:20px 50px 10px 50px;
		
	
	
	}
	#listaTreinamentos{
		clear:both;
		width:90%;
		margin:20px 20px 10px 50px;
		
		padding: auto;
		
	}
	#listaTreinamentos h6 {
		margin: 8px;
		padding: 5px;
	}
	a{
		text-decoration: none;
		color:blue;
	}
}